/*-------------------------------------------------
EDIT
-------------------------------------------------*/

body.edit_subject div.innercol {
  padding-left: 16px;
  padding-right: 24px;
}


body.edit_subject div.page_header {
  padding-bottom: 0;
  background-image: url(/images/page_header_gradient.gif);
  background-position: bottom;
  background-repeat: repeat-x;
}



body.edit_subject div.contact_forms input,
div.new_party_dialog div.contact_forms input {
  padding: 1px;
  margin: 0;
  font-size: 12px;
}

body.edit_subject div.contact_forms div.add a,
div.new_party_dialog div.contact_forms div.add a {
  color: #999;
  text-decoration: none;
  display: block;
}

body.edit_subject div.contact_forms div.add a:hover,
div.new_party_dialog div.contact_forms div.add a:hover {
  color: #999;
  background: none;
}

body.edit_subject div.contact_forms input:focus,
body.edit_subject div.contact_forms input.autofocus,
div.new_party_dialog div.contact_forms input:focus,
div.new_party_dialog div.contact_forms input.autofocus {
  color: #000;
  font-size: 12px;
  margin: 0;
  padding: 1px;
}




body.edit_subject textarea.autofocus,
div.new_party_dialog div.contact_forms textarea.autofocus {
  color: #000;
  font-size: 12px;
  margin: 0;
  padding: 1px;
  height: 51px;
}




body.edit_subject div.main_attributes table.contact_types,
div.new_party_dialog table.contact_types {
  width: 100%;
}

body.edit_subject div.main_attributes th,
div.new_party_dialog table.contact_types th {
  text-align: left;
  vertical-align: top;
  padding: 13px 0 0;
  border-bottom: 1px solid #DDD;
  width: 1%;
  white-space: nowrap;  
}

div.new_party_dialog table.contact_types th {
  min-width: 95px;
}

div#new_company_dialog table.contact_types th {
  /*min-width: 135px;*/
}

body.edit_subject div.main_attributes td,
div.new_party_dialog table.contact_types td {
  padding: 6px 0 3px;
  border-bottom: 1px solid #DDD;
  width: 100%;
  vertical-align: top;
}

body.edit_subject div.main_attributes div.contact_method,
div.new_party_dialog div.contact_method {
  min-height: 26px;
}

div.new_party_dialog div.page_header div.contact_method {
  min-height: 29px;
}

body.edit_subject div.main_attributes div.addresses div.contact_method,
div.new_party_dialog div.addresses div.contact_method,
div.new_party_dialog div.background div.contact_method {
  height: auto;
}

body.edit_subject div.main_attributes input,
div.new_party_dialog table.contact_types input {  
  width: 46%;  
}



body.edit_subject div.main_attributes div.contact_forms,
div.new_party_dialog div.contact_forms {
  border: none;
  padding: 3px 0;
}

body.edit_subject div.main_attributes table.contact_types td .location_type,
div.new_party_dialog table.contact_types td .location_type {
  float: right;
  white-space: nowrap;
}

body.edit_subject div.main_attributes th h2,
div.new_party_dialog table.contact_types th h2 {
  margin: 0 12px 0 8px;
  font-size: 12px;
}

div.new_party_dialog table.contact_types tr.name th h2 {
  font-size: 14px;
}

div.new_party_dialog div.edit_section div.form_section {
  padding-left: 0;
}

div.new_party_dialog div.edit_section {
  margin-left: 0;
}

body.edit_subject tr.edit_phone input,
div.new_party_dialog tr.edit_phone input {
  width: 46%;
}

body.edit_subject a.remove,
div.new_party_dialog table.contact_types a.remove {
  width: 20px;
  height: 20px;
  display: table-cell;
  display: inline-block;  
  text-decoration: none;
  text-indent: -9999px;
  background: url(../images/b-remove.png) no-repeat left top;
  vertical-align: middle;
}

body.edit_subject a.remove:hover,
div.new_party_dialog table.contact_types a.remove:hover {
  background-position: left -22px;
}

body.edit_subject div.blank_slate,
div.new_party_dialog table.contact_types div.blank_slate {
  color: #999;
  cursor: pointer;
  padding: 1px;
  margin: 4px 0 5px;
  font-size: 12px;
}



/*-------------------------------------------------
NEW
-------------------------------------------------*/

body.parties div.button_to_add_new {
  margin-bottom: 0;
}

body.parties div.button_to_add_new img,
body.overview div.button_to_add_new img {
  width: 163px;
}

body.parties div.button_to_add_new a.pressed,
body.overview div.button_to_add_new a.pressed {
  background-image: url(/images/parties/add_a_new_person-pressed.gif);
  width: 163px;
}

div.new_party_dialog p.submit {
  margin-top: 0px;
}

div.new_party_dialog div.page_header {
  padding-right: 24px;
  padding-bottom: 3px;
  padding-left: 16px;
}

div.new_party_dialog table.subject_header {
  width: 100%;
  margin-bottom: 0;
}

div.new_party_dialog table.subject_header td.name h1 {
  margin-bottom: 5px;
  margin-left: 8px;
}

div.new_party_dialog table.subject_header td.name input {
  width: 65%;
  min-width: 275px;
} 

div.new_party_dialog table.subject_header td.name input.name {
  font-size: 18px;  
}

div.new_party_dialog.swappable .innercol {
  padding: 0 24px 20px 83px;
  width: auto;
}

div.new_party_dialog table.subject_header table.contact_types td,
div.new_party_dialog table.subject_header table.contact_types th {
   border: none;
   background: none;
}

div#new_person_dialog div.background {
  padding: 12px 0 0 8px !important;
}

div#new_person_dialog div.background p.background_label {
  color: #999;
  font-size: 12px;  
}

div#new_person_dialog div.background p.background_label strong {
  color: #000;
}

div#new_person_dialog table.subject_header table.contact_types tr.company td  {
  padding-top: 0;
}

div#new_person_dialog table.subject_header table.contact_types tr.company th  {
  padding-top: 7px;
}

div#new_person_dialog table.subject_header table.contact_types tr.title td  {
  padding-bottom: 0;
}


/*-------------------------------------------------
EDIT
-------------------------------------------------*/

.edit div.contact_forms input,
.edit div.contact_forms textarea,
.edit div.contact_forms select,
div.new_party_dialog div.contact_forms input,
div.new_party_dialog div.contact_forms textarea,
div.new_party_dialog div.contact_forms select  {
  color: #000;
  font-size: 12px;
}

.edit div.contact_forms input.blank,
.edit div.contact_forms textarea.blank,
.edit div.contact_forms label.overlabel,
div.new_party_dialog div.contact_forms input.blank,
div.new_party_dialog div.contact_forms textarea.blank,
div.new_party_dialog table.subject_header input.blank {
  color: #999 !important;
  font-size: 12px;
}

.edit div.contact_forms span.overlay_wrapper {
  position: relative;
  top: 0;
  left: 0;
  background: white;
}

.edit div.contact_forms input, .edit div.contact_forms textarea {
  position: relative;
  background: none;
  top: 0;
  z-index: 10;
}

.edit div.contact_forms span.overlay_wrapper label.overlabel {
  position: absolute;
  top: -2px;
  left: 4px;
  z-index: 1;
}
.edit div.contact_forms p.address span.overlay_wrapper label.overlabel {
  top: 2px;
}

.edit div.contact_forms p.address span.overlay_wrapper {
  display: block;
}

.edit div.contact_forms span.overlay_wrapper label.focus {
  color: #ccc !important;
}

.edit div.contact_forms div.add,
div.new_party_dialog div.contact_forms div.add {
  font-size: 11px;
  padding: 0 0 3px;
}

.edit div.addresses div.fields,
div.new_party_dialog div.addresses div.fields {
  padding-bottom: 8px;
}

.edit div.upload_photo div.form_section {
  padding-left: 7px;
}

.edit div.upload_photo th {
  vertical-align: top;
  text-align: right;
  padding-right: 5px;
}

.edit div.upload_photo p.remove_avatar {
  margin-top: 10px;
}

.edit div.upload_photo td a {
  color: #666;
  font-size: 10px;
}

.edit div.upload_photo td a:hover {
  color: #fff;
  background: #666;
}

.edit div.upload_photo td p {
  margin: 5px 0 0 0;
}

div.contact_forms textarea {
  height: 70px;
  width: 70%;
}

div#new_person_dialog div.background div.contact_method textarea {
  width: 65%;
  height: 70px;
  min-width: 275px;
  font-size: 12px;
}

div.contact_forms {
  width: 100%;
}

div.contact_forms {
  padding: 0 5px 0 0;
}

div.contact_forms th {
  padding: 0 0 0 3px;
  width: 1%; 
  white-space: nowrap;
  text-align: left;
}

div.contact_forms th img {
  vertical-align: middle;
}

div.contact_forms.addremove {
  width: 1%;
}

div.contact_forms.addremove img {
  margin-left: 5px;
}

.edit div.contact_forms .instant_messenger input,
div.new_party_dialog div.contact_forms .instant_messenger input {
  width: 36%;  
}

.edit div.contact_forms .instant_messenger select.protocols,
div.new_party_dialog div.contact_forms .instant_messenger select.protocols {  
  width: 20%;
}

.edit div.contact_forms div.street,
div.new_party_dialog div.contact_forms div.street {
  vertical-align: top;
  padding-top: 2px;
}

.edit div.contact_forms div.street span.addremove,
div.new_party_dialog div.contact_forms div.strett span.addremove {
  vertical-align: top;
  padding-top: 2px;
}

div.contact_forms div.street textarea,
div.new_party_dialog div.street textarea {width: 66%;}
div.contact_forms div.street .city,
div.new_party_dialog div.street .city {width: 28%;}
div.contact_forms div.street .state,
div.new_party_dialog div.street .state {width: 13%;}
div.contact_forms div.street .zip,
div.new_party_dialog div.street .zip {width: 18%;}
div.contact_forms div.street .country,
div.new_party_dialog div.street .country {width: 50%;}

div.addresses div.fields div.loc_remove {
  position: absolute; 
  top: 0;
  right: 0;
  width: 32%;
}

.edit table.contact_types tr.addresses td,
.edit table.contact_types tr.addresses th,
div#new_company_dialog table.contact_types tr.addresses td,
div#new_company_dialog table.contact_types tr.addresses th {
  border: none;
}

div#new_person_dialog table.contact_types tr.addresses td,
div#new_person_dialog table.contact_types tr.addresses th {
  border-bottom: 1px solid #CCC;
}


.innercol {
padding:0 24px 20px 83px;
width:auto;
}


.Left .innercol, .Full .innercol, .Fixed .innercol {
padding:15px 60px 20px 23px;
}


div.page_header {
background:none repeat scroll 0 0 #EDF3FE;
margin:0;
padding:13px 30px 13px 24px;
}